
@use "base/reset";


@use "components/botones";
@use "components/tarjetas";
@use "components/anuncios";
@use "components/forms";


@use "layout/header";
@use "layout/sections-tarjetas";
@use "layout/footer";
@use "layout/publicacion";