@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/extends" as *;

header {
    background-color: $color-bg-nav;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;

    .div-header {
        @include flex-center-y;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
        height: 100%;
        padding: 0 20px;

        .img-header {
            margin: 0;
            padding-right: 2rem;
            display: flex;

            img {
                height: 32px;
                width: auto;
            }
        }

        .nav-header {
            margin-right: auto;

            ul {
                @extend %reset-list;
                @include flex-center-y;
                gap: 1.5rem;

                li a {
                    @extend %link-base;
                    color: $color-text-gray;

                    &:hover {
                        color: $color-text-white;
                    }
                }
            }
        }

        form {
            margin-right: 1.5rem;
            display: flex;

            input[type="search"] {
                @include input-style;
                width: 180px;
            }
        }

        .botones-header {
            @include flex-center-y;
            gap: 1rem;

            a {
                @extend %link-base;
            }

            a:nth-child(2) {
                color: $color-text-white;
                font-size: 0.85rem;

                &:hover {
                    color: $color-primary;
                }
            }

            a:first-child {
                @include btn-style(transparent, $color-text-white, 2px solid rgba($color-text-gray, 0.3));
            }

            a:last-child {
                @include btn-style($color-primary, $color-text-white);
            }
        }
    }
}