@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/extends" as *;

.main-login{
    background: radial-gradient(circle at top right, #1a1a1a, #0a0a0a);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-login{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.div-login{
    width: 100%;
    max-width: 420px;
}

.social-login{
    margin: 3rem 0 2rem 0;
    position: relative;
    text-align: center;
}