@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/extends" as *;

.section-rank {
    background-color: transparent !important; 
    background: none !important;
    max-width: 1000px;
    margin: 4rem auto;
    padding: 0 20px;

    h2 {
        background-color: transparent !important;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        font-family: $font-stack;
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $color-text-white;
        text-align: center;
        margin-bottom: 3rem;
        padding: 0; 


        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 5px;
            background-color: $color-primary;
            margin: 15px auto 0 auto;
            border-radius: 2px;
        }
    }
}