@use "variables" as *;

%reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%link-base {
    text-decoration: none;
    font-family: $font-stack;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}