@use "variables" as *;

@mixin flex-center-y {
    display: flex;
    align-items: center;
}

@mixin btn-style($bg, $color, $border: none) {
    background-color: $bg;
    color: $color;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    border: $border;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        @if $bg ==transparent {
            color: $color-primary;
            border-color: $color-primary;
        }

        @else {
            background-color: darken($bg, 5%);
            box-shadow: 0 0 12px rgba($color-primary, 0.5);
        }
    }
}

@mixin input-style {
    background-color: $color-bg-input;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: $color-text-white;
    font-family: $font-stack;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &::placeholder {
        color: darken($color-text-gray, 20%);
        font-size: 0.85rem;
    }

    &:focus {
        border-color: $color-primary;
        background-color: lighten($color-bg-input, 2%);
        box-shadow: 0 0 8px rgba($color-primary, 0.3);
        width: 250px;
    }
}