@use "variables" as *;

@mixin flex-center-y {
    display: flex;
    align-items: center;
}

@mixin btn-style($bg, $color, $border: none) {
    background-color: $bg;
    color: $color;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    border: $border;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        @if $bg ==transparent {
            color: $color-primary;
            border-color: $color-primary;
        }

        @else {
            background-color: darken($bg, 5%);
            box-shadow: 0 0 12px rgba($color-primary, 0.5);
        }
    }
}

@mixin input-style {
    background-color: $color-bg-input;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: $color-text-white;
    font-family: $font-stack;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &::placeholder {
        color: darken($color-text-gray, 20%);
        font-size: 0.85rem;
    }

    &:focus {
        border-color: $color-primary;
        background-color: lighten($color-bg-input, 2%);
        box-shadow: 0 0 8px rgba($color-primary, 0.3);
        width: 250px;
    }
}

@mixin grid-responsive($cols: 4, $gap: 2rem) {
    display: grid;
    
    grid-template-columns: repeat($cols, 1fr); 
    gap: $gap;
}


@mixin link-footer-style {
    text-decoration: none;
    color: $color-text-gray; 
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease;
    display: block; 
    padding: 4px 0;

    &:hover {
        color: $color-text-white; 
        transform: translateX(5px); 
    }
}

@mixin form-card-style{
    background-color: lighten($color-bg-body, 5%);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid rgba($color-text-white, 0.05);
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rbga(0,0,0,0.3);
}

@mixin input-genko{
    width: 100%;
    background-color: $color-bg-body;
    border: 1px solid #333;
    color: $color-text-white;
    padding: 1rem;
    border-radius: 4px;
    font-family: $font-stack;
    font-size: 1rem;
    margin-top: 0.5rem;
    outline: none;
    transition: all 0.3s ease;

    &::placeholder{
        color: darken($color-text-gray, 20%);
    }

    &:focus{
        border-color: $color-primary;
        box-shadow: 0 0 8px rgba($color-primary, 0.3);
        background-color: darken($color-bg-nav, 2%);
    }
}

@mixin file-input-style {
    padding: 0.5rem;
    background-color: $color-bg-nav;
    border: 1px dashed $color-text-gray;
    cursor: pointer;
    
    &:hover {
        border-color: $color-primary;
        color: $color-primary;
    }
    
    &::file-selector-button {
        background-color: $color-primary;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-right: 1rem;
        cursor: pointer;
        transition: background 0.3s;
        
        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }
}