$color-bg-body:   #121212;
$color-bg-nav:    #23232D; 
$color-bg-input:  #17171d;
$color-primary:   #FF007F;
$color-primary-dark: #C51162;
$color-text-white: #FFFFFF;
$color-text-gray:  #BDBDBD;
$font-stack:      'Montserrat', sans-serif;