@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.anuncios-main{
    max-width: 1000px;
    margin: 0 auto 4rem auto;
    padding: 0 20px;

    .titulos-main{
        font-size: 1.8rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $color-primary;
        display: inline-block;
    }

    .text-anuncios{
        background-color: $color-bg-nav;
        padding: 2rem;
        border-radius: 8px;
        border-left: 4px solid$color-primary;

        h3{
            color: $color-primary;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;

            &:first-child{
                margin-top: 0;
            }
        }

        p{
            color: $color-text-gray;
            line-height: 1.6;
            margin-bottom: 1rem;
            font-size: 0.95rem;
        }
    }
}
