@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.div-rank:nth-of-type(1){
    border: 1px solid rgba($color-gold, 0.3);
    background-color: linear-gradient(90deg, rgba($color-gold, 0.5) 0%,transparent 100%);

    .rank-numero{
        -webkit-text-stroke: 0px;
        color: $color-gold;
        text-shadow: 0 0 15px rgba($color-gold, 0.6);
    }
}

.div-rank:nth-of-type(2) {
    .rank-numero {
        -webkit-text-stroke: 2px $color-silver;
        color: transparent;
        filter: drop-shadow(0 0 5px rgba($color-silver, 0.4));
    }
}

.div-rank:nth-of-type(3){
    .rank-numero{
        -webkit-text-stroke: 2px $color-bronze;
        color: transparent;
    }
}