@use "../utilities/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg-body;
    font-family: $font-stack;
    color: $color-text-white;
}

button {
    border: none;
    background: none;
    font-family: inherit; 
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}