@use "../utilities/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg-body;
    font-family: $font-stack;
    color: $color-text-white;
}

::selection{
    color: $color-primary;
    background-color: black;
}

button {
    border: none;
    background: none;
    font-family: inherit; 
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-login,
.main-reg {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top right, #1a1a1a, #0a0a0a);
    min-height: 100vh;
    width: 100%;
}